<footer class="footer mt-5 py-3 bg-white border-top border-secondary custom-shadow">
    <div class="container">
        <p class="text-center">Alexis Boucherie - {{ "now"|date("Y") }}</p>
    </div>
</footer>